# Bot Configuration
config.js
.env.keys

# Node modules
node_modules
package-lock.json
yarn.lock

# Bower vendored assets
dashboard/public/bower_components

# TypeScript build output
dist/

# DB
giveaways.json

# Mac OS files
.DS_Store

# PM2
report*.json
!languages/**/general/report.json

# IDE
.vscode
.idea
